<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiddlywiki.atw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme"
        android:documentLaunchMode="intoExisting"
        android:launchMode="singleInstance"
        android:configChanges="keyboardHidden|screenLayout|screenSize|smallestScreenSize|orientation|keyboard|uiMode">
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:persistent="true"
            android:configChanges="keyboardHidden|screenLayout|screenSize|smallestScreenSize|orientation|keyboard|uiMode"
            android:windowSoftInputMode="adjustResize"
            android:documentLaunchMode="intoExisting"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="text/html"/>
                <data android:mimeType="application/xhtml+xml"/>
                <data android:scheme="raw"/>
                <data android:scheme="file"/>
                <data android:scheme="content" />
            </intent-filter>
        </activity>
    </application>
</manifest>
